.hdr-container{
    display: flex;
    justify-content: center;
    margin-top:25px;
}
.hdr{
    font-weight: 200;
}

 @media (max-width: 500px) {
    .hdr{
        font-size: 1.75rem;
    }
 }

 @media (max-width: 320px) {
    .hdr{
        font-size: 1.5rem;
    }
 } 