.hdr-container{
    display: flex;
    justify-content: center;
    margin-top:25px;
}
.hdr{
    font-weight: 200;
}
/*-------------------------------------Tablet----------------------------------------*/
@media (max-width: 800px) {
    .hdr{
        font-size: 2rem;
    }
 }
/*-------------------------------------Mobile----------------------------------------*/
 @media (max-width: 500px) {
    .hdr{
        font-size: 1.75rem;
    }
 }
/*----------------------------------Mobile(x-small)----------------------------------*/
 @media (max-width: 375px) {
    .hdr{
        font-size: 1.5rem;
    }
 } 