.table-container-container{
    display: flex;
    justify-content: center;
    width:100%;
    margin: 50px 0 25px 0;
}

.table-container{
    width:55%;
}

table, td, th{
    border: 1px solid #dee2e6;
}
/*-------------------------------------Tablet----------------------------------------*/
@media (max-width: 800px) {
    .table-container-container{
        margin-top: 25px;
    }
    .table-container{
        margin: 0 25px;
        width: 80%;
    }
 }
/*-------------------------------------Mobile----------------------------------------*/
@media (max-width: 500px) {
    .table-container{
        width: 100%;
    }
 }

